@media only screen and (min-width: 992px) and (max-width: 1199px) {
	
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
	.banner-section .col-md-5{
		margin-top:160px;
	}
	
}



@media only screen and (min-width: 480px) and (max-width: 840px) {
	#details .col-sm-12{width:95%}
	.text {text-align:right;}
	.getaway-mobile-subtext{font-size:23px !important;padding-left:150px;}
	.getaway-mobile-text{width:50% !important;text-align:right;}
	.header-text{width:400px;}
	.logo{width:80% !important;}
	.stay-play{width:50% !important;}
	.banner-section .col-md-5{
		margin-top:160px;
	}
	.our-classes-section .classes-list .item{
		margin-top:10px;
	}
	.mobile-number-btn{font-size:25px !important;padding:15px !important;}
	.hero-section .banner-section{margin:-90px 0px 0px 0px !important;width:100% !important;height:640px;}
	hr.mobile {display:none;}
	 .contact-section{
 	background:url(../img/mobile-form-bg.jpg) no-repeat scroll center center / cover !important;
	color:#000000;
	padding-top:0px;
 }
	
}
@media only screen and (max-width: 480px) {
	.banner-section .col-md-5{
		margin-top:160px;
	}
	.navbar-brand>img{
		width:100%;
	}
	.our-classes-section .classes-list .item{
		margin-top:80px;
	}
	.hero-section{
	 background:url(../img/header-mobile-bg.jpg) no-repeat scroll center top / cover !important;
	 position:relative;
	}
	.hero-section .banner-section{margin:-90px 0px 0px 0px !important;width:100% !important;height:640px;}
	hr.mobile {width:90%;border-top:1px solid #222222;margin-top:40px;display:block !important;}
	.offer-background{padding:0px;}
	#details .container{margin-top:-30px;}
	.mobile-number-btn{font-size:25px !important;padding:10px !important;}

	 .contact-section{
 	background:url(../img/mobile-form-bg.jpg) no-repeat scroll center center / cover !important;
	color:#000000;
	padding-top:0px;
 }
 span.none{display:none !important;}
 img.image-width{width:100% !important;margin-bottom:0px !important;}
 .padd-bottom{padding-bottom:20px !important;}
 .borders{padding-bottom:20px; border-top:4px dashed #3a8146;border-bottom:4px dashed #3a8146;border-right:none !important;border-left:none !important;}
 .borders2{padding-bottom:20px; border-bottom:4px dashed #3a8146;border-right:none !important;}
 .no-image {margin-top:0 !important;}
}
